
$themeColor: #d43d3d;
$themeColorActive: #218fe9;
$navColor: #d43d3d;
$titleColor: #333333;
$placeholderColor: #cecece;
$borderColor: #e5e5e5;
$white: #fff;

$gray: #9b9b9b;
$darkGray: #666666;

$red: #ee3636;
$orange: #fe6013;

$font: arial;


$space: 3%;
$paddingSide: .5rem;
// $imp: "img/";
// $sip: "icons/";