
<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>夺宝声明</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="app.css">
    <style>
        .qa-detail dt,
        .qa-detail dd{
            padding-left:0;
        }
        .qa-detail dd p{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <section class="mainbody">
        <article class="qa-detail">
            <dl>
                <dt>
                    夺宝声明
                </dt>
                <dd>
                    <p>疯狂夺宝用户在参与奖品夺宝前，请阅读以下说明，以避免相关纠纷。</p>

                    <p>一、汽车类奖品：<br>
                    1.汽车类奖品获得者拥有该奖品的20年免费使用权；<br>
                    2.奖品价格仅为裸车价格，不包含购置税、车船税、养路费、牌照费、保险费等费用；<br>
                    3.揭晓的奖品的提货地点为“北京”；<br>
                    4.奖品详情页面展示信息仅供参考，请您以收到的实物为准，同时我们会尽量做到及时更新，请谅解。<br>
                    5.疯狂夺宝对本奖品使用权在法律范围内拥有最高解释权。
                    </p>
                    <p>
                    二、数码类奖品：<br>
                    1、手机平板类笔记本等数码类奖品获得者拥有所奖奖品的20年免费使用权；<br>
                    2、工作人员将在用户确认发货信息后7个工作日内发出奖品，若遇商品暂时缺货或者是有其他方面的问题，我们会在到货后第一时间按订单顺序发出，颜色随机发货；<br>
                    3、已激活的手机不支持退换货，请确认需求后再激活使用；<br>
                    4.疯狂夺宝对本奖品使用权在法律范围内拥有最高解释权。
                    </p>

                    <p>
                    三、电器类及其他奖品。<br>
                    1、电器类及其他奖品默认由京东物流负责配送发货，物流无法配送的区域，用户可选择换购本商城同等价位的奖品（一件或多件），或选择补差价换购高价位商品；<br>
                    2、由于业务发展变化、行政区域更名等因素，配送区域可能会不时有扩大、变更或调整，具体区域请以京东最新确认为准；<br>
                    3、建议您对所购奖品包装箱保留3个月或更长时间，以免影响退换货。<br>
                    4.疯狂夺宝对本奖品使用权在法律范围内拥有最高解释权。
                    </p>

                    <p>
                    四、食品饮料类奖品<br>
                    1、食品饮料类奖品默认由京东物流负责配送发货，物流无法配送的区域，用户可选择换购本商城同等价位的奖品（一件或多件），或选择补差价换购高价位奖品，或选择京东平台上的第三方卖家发货。<br>
                    2、由于业务发展变化、行政区域更名等因素，配送区域可能会不时有扩大、变更或调整，具体区域请以京东最新确认为准。<br>
                    3、由于奖品存在厂家更换包装、不同批次、不同生产日期、不同生产工厂等情况，导致奖品实物与图片存在微小差异，因此请您以收到的奖品实物为准，同时我们会尽量做到及时更新，由此给您带来不便敬请谅解，谢谢。<br>
                    4.疯狂夺宝对本奖品使用权在法律范围内拥有最高解释权。
                    </p>
    
                    <p>
                    五、话费等虚拟类奖品<br>
                    1、获奖者应在开奖后7天内登录全民夺宝在收货地址上备注手机号码等相关信息，否则视为放弃该奖品，用户因此行为造成的损失，平台将不承担任何责任。<br>
                    2.疯狂夺宝对本奖品使用权在法律范围内拥有最高解释权。
                    </p>
                    <p>
                    温馨提示：夺宝商业模式的初衷，是希望消费者在网购的同时能够享受娱乐，与此同时，消费者亦应该结合自身实际情况进行适当的消费。
                    </p>


                    <p>感谢您对疯狂夺宝的支持和谅解，祝您夺宝愉快！</p>
                </dd>
            </dl>
        </article>


    </section>

</body>
</html>


