
<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>夺宝声明</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="app.css">
    <style>
        .qa-detail dt,
        .qa-detail dd{
            padding-left:0;
        }

        .qa-detail dt{text-align: center;}
        .qa-detail dd{ color: #999; }
        .qa-detail dd h2{
            color: #333;
        }
    </style>
</head>
<body>
    <section class="mainbody">
        <article class="qa-detail">
            <dl>
                <dt>
                    平台服务协议
                </dt>
                <dd>
欢迎访问夺宝平台，申请使用我司提供的夺宝服务，请您（下列简称为“用户”）仔细阅读以下全部内容。<br>
    如用户不同意本服务条款任意内容，请勿注册或使用夺宝服务。如用户通过进入注册程序并勾选“我同意夺宝服务协议”，即表示用户与我司已达成协议，自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。<br>
    （ps：用户在使用夺宝服务时须具备相应的权利能力和行为能力，能够独立承担法律责任，如果用户在18周岁以下，必须在父母或监护人的监护参与下才能使用本站。）<br><br>
    <h2>一、关于夺宝币和夺宝平台的虚拟产品</h2><br>
    1、夺宝币的有效期自兑换之日起算360天，有效期不可中断或延期，有效期届满后，用户帐户中有效期届满的夺宝币将被清空，且不可恢复。详见“夺宝记录”栏目。<br>
    2、夺宝币必须通过我司提供或认可的平台获得，从非我司提供或认可的平台所获得的夺宝币将被认定为来源不符合本服务协议，我司有权拒绝从非我司提供或认可的平台所获得的夺宝币在夺宝中使用。<br>
    3、夺宝币不能在夺宝之外使用或者转移给其他用户。<br>
    4、您确认，如果您参与夺宝活动，在您支付资金获得夺宝币的同时，即同意；
如果您不能拥有幸运号码，则您将作为赠与人，将您的资金赠与给拥有幸运号码的用户，帮助幸运号码的拥有者购买指定商品；<br>
如果您拥有该幸运号码，则您将作为受赠人，接受其他用户的赠与，并购买幸运号码对应的商品。<br>
无论您是否拥有幸运号码，您参与夺宝活动支付的资金由我们指定的第三方支付机构代为收取，并最终作为幸运号码拥有者购买指定商品的货款，支付给商家。<br>
5、您根据本服务平台提示，支付人民币获得夺宝币后，我们将赠送您指定的虚拟产品。我们将不断完善欢乐豆的使用方式和虚拟产品的品类。<br>
6、夺宝币不可兑为现金，不得交易或转赠，也不能用于购买或兑换其它任何有偿服务<br><br>
<h2>二、关于用户的账号和资料</h2><br>
1、用户首次登录夺宝时，夺宝会为每位用户生成一个帐户，作为其使用夺宝服务的唯一身份标识，用户需要对其帐户项下发生的所有行为负责。<br>
2、用户应当在使用夺宝服务时完善个人资料，用户资料包括但不限于个人手机号码、收货地址、帐号昵称、头像、密码、注册的所有信息。<br>
3、用户在完善个人资料时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在资料中出现违法和不良信息，且用户保证其在完善个人资料和使用帐号时，不得有以下情形：<br>
（1）违反宪法或法律法规规定的；<br>
（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
（3）损害国家荣誉和利益的，损害公共利益的；<br>
（4）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
（5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
（6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<br>
（8）侮辱或者诽谤他人，侵害他人合法权益的；<br>
（9）含有法律、行政法规禁止的其他内容的。<br>
若用户提供给我司的资料不准确，不真实，含有违法或不良信息的，我司有权不予完善，并保留终止用户使用夺宝服务的权利。<br>
若用户以虚假信息骗取帐号或帐号头像、个人简介等注册资料存在违法和不良信息的，我司有权采取通知限期改正、暂停使用、注销登记等措施。对于冒用关联机构或社会名人注册帐号名称的，我司有权注销该帐号，并向政府主管部门进行报告。<br>
4、、用户应当保证在使用夺宝服务的过程中遵守诚实信用原则，不扰乱夺宝的正常秩序，不得通过使用他人帐户、一人注册多个帐户、使用程序自动处理等非法方式损害他人或我司的利益。<br>
    5、若用户存在任何违法或违反本服务协议约定的行为，我司有权视用户的违法或违规情况适用以下一项或多项处罚措施：<br>
（1）责令用户改正违法或违规行为；<br>
（2）中止、终止部分或全部服务；<br>
（3）取消用户夺宝订单并取消商品发放（若用户已获得商品），且用户已获得的夺宝币不予退回；<br>
（4）冻结或注销用户帐号及其帐号中的夺宝币（如有）；<br>
（5）其他我司认为合适在符合法律法规规定的情况下的处罚措施。若用户的行为造成我司及其关联公司损失的，用户还应承担赔偿责任。<br>
   6、若用户发表侵犯他人权利或违反法律规定的言论，我司有权停止传输并删除其言论、禁止该用户发言、注销用户帐号及其帐号中的夺宝币（如有），同时，我司保留根据国家法律法规、相关政策向有关机关报告的权利。<br><br>
  <h2>三、夺宝服务的名词解释及规则阐述</h2><br>
  1、释义<br>
（1）夺宝币：指用户为获得商品所支付并由我司预收货款后获得的使用夺宝服务的凭据。<br>
（2）夺宝号码：指用户使用夺宝币参与夺宝服务时所获取的随机分配号码。<br>
（3）幸运号码：指与某件商品的全部夺宝号码分配完毕后，夺宝根据夺宝规则（详见夺宝官方页面）计算出的一个号码。持有该幸运号码的用户可直接获得该商品。<br>
（4）全价购买：指用户以固定价格直接获得夺宝商品的形式。<br>
（5）夺宝：指用户直接购买或用夺宝币参与夺宝活动。<br>
2、我司承诺遵循公平、公正、公开的原则运营夺宝，确保所有用户在夺宝中享受同等的权利与义务，夺宝结果向所有用户公示。<br>
3、用户知悉，除本协议另有约定外，无论是否获得商品，用户用于参与夺宝活动的和夺宝币不能退回；其完全了解参与夺宝活动存在的风险，我司不保证用户参与夺宝一定会获得商品。<br>
4、用户通过参与夺宝活动获得商品后，应在7天内登录夺宝提交或确认收货地址，否则视为放弃该商品，用户因此行为造成的损失，我司不承担任何责任。商品由我司或经我司确认的第三方商家提供及发货。<br>
5、用户通过参与夺宝活动获得的商品，享受该商品生产厂家提供的三包服务，具体三包规定以该商品生产厂家公布的为准。<br>
6、如果下列情形发生，我司有权取消用户夺宝订单：<br>
（1）因不可抗力、夺宝系统发生故障或遭受第三方攻击，或发生其他我司无法控制的情形；<br>
（2）根据我司已经发布的或将来可能发布或更新的各类规则、公告的规定，我司有权取消用户订单的情形。<br>
我司有权取消用户的订单时，用户可申请退还夺宝币，所退夺宝币将在3个工作日内退还至用户帐户中。<br>
7、若某件商品的夺宝号码从开始分配之日起90天未分配完毕，则我司有权取消该件商品的夺宝活动，并向用户退还或夺宝币，所退还或夺宝币将在3个工作日内退还至用户帐户中。<br><br>
<h2>四、本服务协议的公布及修改</h2><br>
    用户知晓我司不时公布或修改的与本服务协议有关的其他规则、条款及公告等是本服务协议的组成部分。我司有权在必要时通过在夺宝内发出公告等合理方式修改本服务协议，用户在享受各项服务时，应当及时查阅了解修改的内容，并自觉遵守本服务协议。用户如继续使用本服务协议涉及的服务，则视为对修改内容的同意，当发生有关争议时，以最新的服务协议为准；用户在不同意修改内容的情况下，有权停止使用本服务协议涉及的服务。<br>
如您对以上条款有任何异议或建议欢迎咨询客服 QQ：3248936866。

                </dd>
            </dl>
        </article>


    </section>

</body>
</html>


